/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body,
html {
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif;
} */

.hero {
    margin-top: 130px;
    background-image: url('../../img/banner1.jpg');
    /* cambia por tu imagen */
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.headline {
    font-size: 3em;
    animation: fadeInDown 1s ease-out;
}

.subtext {
    margin-top: 10px;
    font-size: 1.2em;
    opacity: 0.9;
}

button {
    margin-top: 160px;
    padding: 12px 60px;
    font-size: 1em;
    background-color: #0054a0;
    border: none;
    color: #fff;
    border-radius: 30px;
    /* <- este valor lo puedes ajustar a tu gusto */
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0054a0;
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}