<div class="delatierraatumesa">
    <section class="promo">
        <h1 class="promo-title">"De la tierra a tu mesaaaa,<br> calidad que puedes ver y sentir"</h1>
        <p class="promo-note">
            Todos nuestros productos están disponibles <strong>exclusivamente para compradores mayoristas, cadenas
                comerciales y distribuidores profesionales.</strong> Contáctanos para conocer disponibilidad, volúmenes
            y
            condiciones de envío.
        </p>
    </section>
    <script src="script.js"></script>
    <img src="../img/tgc.png" alt="Logo The Growers Club" class="logo-fixed" />
</div>