<section id="side-slider-section">
    <div class="text-container">
        <div class="text-container-title">
            Negocios que confían en nosotros
        </div>
        <div class="text-container-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Nisl tincidunt eget nullam non.
        </div>
        <div class="text-container-button">
            <a href="/">MORE INFO</a>
        </div>
    </div>
    <section id="side-slider">
        <div class="swiper-container">
            <div class="swiper-button-prev"></div>

            <div class="swiper sideSwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="side-slide-card">
                            <div class="side-slide-card-header">
                                <img src="img/reviews/avatar.png" alt="User photo" class="side-slide-avatar" />
                                <div class="side-slide-stars">★★★★★</div>
                            </div>
                            <div class="side-slide-card-body">
                                <p class="side-slide-review-text">Lorem ipsum dolor sit amet,<br> consectetur
                                    adipiscing elit</p>
                                <img src="https://w7.pngwing.com/pngs/604/836/png-transparent-quotation-mark-computer-icons-pull-quote-quote-logo-monochrome-computer-wallpaper-thumbnail.png"
                                    alt="icon" class="side-slide-icon" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="side-slide-card">
                            <div class="side-slide-card-header">
                                <img src="img/image.jpg" alt="User photo" class="side-slide-avatar" />
                                <div class="side-slide-stars">★★★★★</div>
                            </div>
                            <div class="side-slide-card-body">
                                <p class="side-slide-review-text">Lorem ipsum dolor sit amet,<br> consectetur
                                    adipiscing elit</p>
                                <img src="https://w7.pngwing.com/pngs/604/836/png-transparent-quotation-mark-computer-icons-pull-quote-quote-logo-monochrome-computer-wallpaper-thumbnail.png"
                                    alt="icon" class="side-slide-icon" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="side-slide-card">
                            <div class="side-slide-card-header">
                                <img src="img/image.jpg" alt="User photo" class="side-slide-avatar" />
                                <div class="side-slide-stars">★★★★★</div>
                            </div>
                            <div class="side-slide-card-body">
                                <p class="side-slide-review-text">Lorem ipsum dolor sit amet,<br> consectetur
                                    adipiscing elit</p>
                                <img src="https://w7.pngwing.com/pngs/604/836/png-transparent-quotation-mark-computer-icons-pull-quote-quote-logo-monochrome-computer-wallpaper-thumbnail.png"
                                    alt="icon" class="side-slide-icon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Flecha solo a la izquierda -->
</section>