.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #f8f9fa;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  z-index: 1000;
}
.header-container-logo {
  font-size: 24px;
  color: #343a40;
  font-family: "fineday", sans-serif;
  position: relative;
  width: 12%;
}
.header-container-logo img{
  position: absolute;
  top: -18px;
  left: 60px;
  width: auto;
  height: 130px;
  object-fit: cover;
}

.header-container-logo2 {
  font-size: 24px;
  color: #343a40;
  font-family: "fineday", sans-serif;
  position: relative;
  width: 20%;
}
.header-container-logo2 img{
  width: auto;
  height: 130px;
  object-fit: cover;
}



.header-nav {
  display: flex;
  width: 75%;
  flex-direction: row;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}
.header-nav a {
  text-decoration: none;
  margin-right: 70px;
  color: #0054A0;
  font-size: 22px;
  font-family: sans-serif;
  cursor: pointer;
}
