<div class="contactanos-container">
    <div class="contactanos-container-title">Contáctanos</div>
    <div class="contactanos-container-subtitle">
        Lorem ipsum dolor sit amet consectetur adipiscing 
        elit sollicitudin natoque, donec inceptos urna potenti torquent consequat purus
    </div>
        <form class="contactanos-form" action="https://formspree.io/f/xjvowzqk" method="POST">
            <div>
                <label for="name">Nombre[s]</label>
                <input type="text" id="name" name="name" placeholder="Escribe tu nombre[s]" required />
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Escribe tu email" required />
            </div>
            <div>
                <label for="message">Detalles de contacto</label>
                <textarea id="message" name="message" placeholder="Escribe tu numero de celular" required></textarea>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <div>
            <a href="https://www.instagram.com/tu_perfil" target="_blank"><img src="./img/icons/instagram.jpg" alt=""></a>
            <a href="https://www.instagram.com/tu_perfil" target="_blank"><img src="./img/icons/facebook.jpg" alt=""></a>
            <a href="https://www.instagram.com/tu_perfil" target="_blank"><img src="./img/icons/X.jpg" alt=""></a>
        </div>
       
</div>