.contactanos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;

}
.contactanos-container-title {
    font-size: 74px;
    color: #0054A0;
    margin-bottom: 20px;
    font-family: "fineday", sans-serif;
}
.contactanos-container-subtitle {
    font-size: 30px;
    color: #0054A0;
    margin-bottom: 40px;
    font-family: sans-serif;
    max-width: 1000px;
    text-align: left;
}
.contactanos-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
}
.contactanos-form div {
    width: 98%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    color: #0054A0;
    font-family: sans-serif;
}

.contactanos-form div label {
    font-size: 25px;
    margin-bottom: 15px;
    color: #0054A0;
    font-weight: bold;
}
.contactanos-form div input {
    border-radius: 20px;
    border: 1px solid #0054A0;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    height: 35px;
}
.contactanos-form div input::placeholder {
    color: #0054A0;
    font-size: 20px;
    opacity: 0.5;
}
.contactanos-form div textarea::placeholder {
    color: #0054A0;
    font-size: 20px;
    opacity: 0.5;
}
.contactanos-form div textarea {
    border-radius: 20px;
    border: 1px solid #0054A0;
    font-size: 25px;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    resize: none;
    height: 35px;
}
.contactanos-form button {
    margin-top: 10px;
}
.contactanos-map {
    width: 80%;
    height: 400px;
    border-radius: 50px;
    margin-top: 20px;
}
.contactanos-map iframe {
    border-radius: 50px;
}