@font-face {
    font-family: 'BEBAS';
    src: url('../nosotrospt2/fonts/BEBAS.woff2') format('woff2');
    /* ajusta formato y ruta según corresponda */
    font-weight: normal;
    font-style: normal;
}

#nosotros2 {
    background-color: #00ae10;
    /* verde Growers Club */
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../../img/TGCFondoverde2.png');
    background-size: cover;
    /* Escala la imagen para cubrir toda la pantalla */
    background-position: top;
    /* Centrada horizontal y verticalmente */
    background-repeat: no-repeat;
    /* No repetir la imagen */
    margin: 0;
    min-height: 80vh;
    font-family: 'Poppins', sans-serif;
    /* ejemplo de fuente */
}



.quad-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0px auto;

    border-radius: 12px;
    overflow: hidden;


    grid-row-gap: 0px;
    /* o prueba con 10px para un respiro sutil */
    place-items: center;

}

.quadrant {

    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.quadrant h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin: 0;
    font-family: 'BEBAS', sans-serif;

}

.quadrant p {
    font-size: 1.1rem;
    color: #ffffff;
    margin-top: 8px;
    text-align: center;

}

@media (max-width: 300px) {
    .quad-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
}