<section class="nosotros">
    <div class="nosotros-contenido">
        <div class="nosotros-imagen">
            <img src="../img/nosotros.jpg" alt="Manos recogiendo fresas" />
        </div>
        <div class="nosotros-texto">
            <h4>Nosotros</h4>
            <h2>¿QUIÉNES SOMOS?</h2>
            <p>
                La marca destaca por ofrecer productos de alta calidad, que preservan
                las propiedades y beneficios de la naturaleza en cada etapa, desde la
                cosecha hasta el empaquetado. Esta campaña resalta el paralelismo visual
                y de calidad entre lo que se cosecha y el producto final que está en un
                supermercado, brindando a los consumidores una experiencia completa de
                salud y bienestar.
            </p>
            <button onclick="irAContacto()">CONTACTO</button>
        </div>
    </div>
</section>