<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/img/logoFooter.png" alt="The Growers Club Logo" class="logo-img">
        </div>
        <div class="footer-texts">
            <div class="footer-column">
                <div class="container">

                    <h3>CONTACTO</h3>
                    <ul>
                        <li>+55 999 000 12</li>
                        <li>thegrowersclub@gmail.com</li>
                        <li>Av. lorem ipsum lorem ipsum</li>
                    </ul>
                </div>
            </div>
    
            <div class="footer-column">
                <div class="container">

                    <h3>SERVICIOS</h3>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                    </ul>
                </div>
            </div>
    
            <div class="footer-column">
                <div class="container">

                    <h3>¡SÍGUENOS!</h3>
                    <ul class="social-links">
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy;2025 All right reserved.</p>
        <div class="footer-links-bottom">
            <a href="#">Políticas de privacidad</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Configuración de cookies</a>
        </div>
    </div>
</footer>