<div class="products_title">Productos</div>
<section id="centered-slider">
    <div class="swiper-nav-button swiper-button-prev"></div>
    <div class="swiper-nav-button swiper-button-next"></div>
    <div class="swiper centeredSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/productos/fruit1.png" />
                <div>Blackberries</div>
            </div>
            <div class="swiper-slide">
                <img src="img/productos/fruit2.png" />
                <div>Blueberries</div>
            </div>
            <div class="swiper-slide">
                <img src="img/productos/fruit3.png" />
                <div>Raspberries</div>
            </div>
              <div class="swiper-slide">
                <img src="img/productos/fruit1.png" />
                <div>Blackberries</div>
            </div>
        </div>
    </div>
    <div class="slider2-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>
        tempor incididunt ut labore et dolore magna aliqua
    </div>
</section>