<div class="swiper mySwiper">
    <div class="swiper-wrapper" id="sliderTrack">
        <div class="swiper-slide"><img src="img/calidad/image1.jpg" /></div>
        <div class="swiper-slide"><img src="img/calidad/image2.jpg" /></div>
        <div class="swiper-slide"><img src="img/calidad/image3.jpg" /></div>
        <div class="swiper-slide"><img src="img/calidad/image4.jpg" /></div>
    </div>
    <div class="swiper-pagination"></div>

</div>
<section class="content-block">
    <div class="grid-row">
        <div class="text-block">
            <h2>LA CALIDAD DE NUESTROS PRODUCTOS</h2>
            <h2>
                ESTÁ EN LAS MANOS Y EN LA PASIÓN DE NUESTRA GENTE.
            </h2>
        </div>
        <div class="logo-block">
            <img src="img/logo2.png" alt="Logo" />
        </div>
    </div>
</section>
